<div class="container my-3" id="horario">
	<h1>Modificar Planilla de Turnos</h1>
	<label class="ml-5">Semana:	{{planilla?.fecha_inicio | date}} -- {{planilla?.fecha_fin | date}}</label>
	<div align="center">
		<div class="row my-2">
			<div class="col-4 mx-auto">
				<label>Día:</label>
				<select class="custom-select" [(ngModel)]="id_dia">
					<option *ngFor = "let dias of diasSemana; let i = index " value="{{i}}">{{dias}}</option>
				</select>
			</div>
			<div class="col-4 mx-auto">
				<label>Inicio Turno:</label>
				<select class="custom-select" [(ngModel)]="id_turno_inicio">
					<option *ngFor = "let n of [0,1,2,3,4,5,6,7,8]" value="{{n}}">{{n+8}}:00</option>
				</select>
			</div>
			<div class="col-4 mx-auto">
				<label>Fin Turno:</label>
				<select class="custom-select" [(ngModel)]="id_turno_fin">
					<option *ngFor = "let m of fines(id_turno_inicio)" value="{{m}}">{{m+8}}:00</option>
				</select>
			</div>
		</div>
		<div class="row my-2">
			<div class="col-4 mx-auto">
				<label>Actividad:</label>
				<select class="custom-select" [(ngModel)]="id_cargo">
					<option *ngFor = "let cargo of cargos; let i = index " value="{{i}}">{{cargo}}</option>
				</select>
			</div>
			<div class="col-4 mx-auto">
				<label>Funcionario:</label>
				<select class="custom-select" [(ngModel)]="id_funcionario">
					<ng-template ngFor let-key [ngForOf]="objectKeys(funcionarios)"; let-i = index>
					    <option *ngIf="funcionarios[key].cargo == cargos[id_cargo]" value={{i}}>{{funcionarios[key].nombre}}</option>
					</ng-template> 
				</select>
			</div>
		</div>
		<div class="row my-2">
			<div class="col">
				<button class="btn btn-success" (click)="agregarTurno()">Agregar Turno</button>
			</div>
		</div>
	</div>
	<h2>Horarios</h2>
	<div class="row">
		<div class="col-9 mx-auto">
			<table class="table table-bordered" id="tablaHorario">
			  	<thead>
			    	<tr>  
			      		<th>Horas</th>
			      		<th *ngFor = "let day of diasSemana">{{day}}</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr *ngFor = "let n of [0,1,2,3,4,5,6,7,8]">
			      		<td> {{n+8}}:00 - {{n+9}}:00</td>
			      		<td (click)="detalleTurno(i,n,modal)" id="tdTablaHorario" *ngFor="let dia of planilla?.dias; let i = index ">
			        		<i *ngIf="hayTurnos(n,i)>0" [ngClass]="hayTurnos(n,i)>1?'fa fa-users':'fa fa-user'"></i>
			      		</td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
		<div *ngIf="id_funcionario!==-1" class="col-3 mx-auto">
			<div class="card">
		  		<div class="card-header">
			    	{{funcionarios[objectKeys(funcionarios)[id_funcionario]].nombre}} {{funcionarios[objectKeys(funcionarios)[id_funcionario]].apellido}}
			  	</div>
			  	<div class="card-body">
			    	<p class="card-text">
			    		Actividad: {{funcionarios[objectKeys(funcionarios)[id_funcionario]].cargo}}<br>
			    		Horas previas: {{funcionarios[objectKeys(funcionarios)[id_funcionario]].horasAcumuladas}}<br>
			    		Horas actuales: {{funcionarios[objectKeys(funcionarios)[id_funcionario]].horas}}
			    	</p>
			    </div>
	  		</div>
		</div>
	</div>
	<br>
	<div align="center">
		<button class="btn btn-success" (click)="modificarPlanilla()">Guardar planilla</button>
	</div>
</div>
<ng-template #modal let-c="close">
	<div class="modal-header">
		<h5 class="modal-title">{{diasSemana[diaSeleccionado]}} {{planilla.dias[diaSeleccionado].fecha | date}}</h5>
		<button class="close" (click)="c()">
        	<span>×</span>
        </button>
	</div>
	<div class="modal-body" id="miTabla">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Funcionario</th>
					<th>Actividad</th>
					<th>Inicio</th>
					<th>Fin</th>
					<th>Eliminar</th>
					<th>Ausencia</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let key of turnosModal; let i=index ">
					<td>{{key.nombre}}</td>
					<td>{{key.cargo}}</td>
					<td>{{key.inicio}}</td>
			    	<td>{{key.fin}}</td>
			    	<td>
			    		<button id="btnRedondo" (click) = "eliminarTurno(diaSeleccionado,key.idx,i)">
			    			<i class="fa fa-times"></i>
			    		</button>
			    	</td>
			    	<td>
		    			<input type="radio" name="'justificado' + {{i}}">Justificado
		    			<br>
		    			<input type="radio" name="'justificado' + {{i}}">No Justificado
			    	</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<label>{{turnoSeleccionado+8}}:00 - {{turnoSeleccionado+9}}:00</label>
	</div>
</ng-template>