

<div>
    <h2>Sistema de Administración CRHV</h2>
    <table class="table table-bordered table-striped">
        <form name="logform" (submit)="loginUser($event)">
            <div class="col">
                <label for="inputUsuario">Nombre de Usuario</label>
                <input type="text" class="form-control form-control-sm" placeholder="Introduzca su usuario" id="inputUsuario" name="inputUsuario" ngModel #inputUsuario="ngModel" sin-espacios required #spy> 
                <div *ngIf="inputUsuario.errors">
                    <div *ngIf="inputUsuario.errors.sinEspacios" class="alert alert-danger">
                        <small>No se permite el ingreso de espacios en blanco.</small>
                    </div>
                </div>
            </div>
            <div *ngIf="inputUsuario.touched && !inputUsuario.valid" class="alert alert-danger">
                <small>El nombre de usuario es requerido</small>
            </div>

            <div class="col">
                <label for="inputContrasena">Contraseña</label>
                <input type="password" class="form-control form-control-sm" placeholder="Introduzca su contraseña" id="inputContrasena" name="inputContrasena" ngModel #inputContrasena="ngModel" sin-espacios required #spy>

                <div *ngIf="inputContrasena.errors">
                    <div *ngIf="inputContrasena.errors.sinEspacios" class="alert alert-danger">
                        <small>No se permite el ingreso de espacios en blanco.</small>
                    </div>
                </div>
            </div>
            <div *ngIf="inputContrasena.touched && !inputContrasena.valid" class="alert alert-danger">
                <small>La contraseña es requerida</small>
             </div>
             <i> ¿Aún sin cuenta?</i> <a routerLink="/register"> Registrate Aquí </a>
            <div class="col">
                <div align="center">
                    <input type="submit" value="Login" class="btn btn-primary" routerLink="/home"><!--<a routerLink="../home">-->
                    <input value="Registrarse" class="btn btn-primary" routerLink="/register">    
                </div>    
            </div>
        </form>
    </table>   
</div>

