/* You can add global styles to this file, and also import other style files */
#banner { 
	display: block;
  	margin-left: auto;
  	margin-right: auto;  	
	margin-bottom: 10px;
	width: 100%;
}
#miTabla table{
	border-collapse: separate;
	border: 1px solid #e9ecef;
}
#miTabla th{
	background-color: #00ad84;
	color: #d5f5dd;
}
#horario h2{
	text-align: center;
}
#horario tr:nth-child(even){
	background-color: #D5F5E3;
}
#btnRedondo {
    	background-color: #00ad84;
	border-radius: 10px;
	border: none;
	font-size: 10px;
}
#btnRedondo i {
	color:#d5f5dd;
}
i {
	color:grey;
}
h1 {
	font-size: calc(1.2rem + 1vw);
}
h2 {
	font-size: calc(1rem + 1vw);
}
label {
	font-weight: bold;
	font-size: calc(5px + 0.8vw);
}
.card {

	font-size: 15px;
}
/*Placeholder Colors*/
.form-control::-webkit-input-placeholder { /* Chrome y Safari */
	color:#808080;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color:#808080;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
	color:#808080;
} 
.form-control:-ms-input-placeholder { /* IE 10+ */
	color:#808080;
}